* {
  border: #fcfffd 1px solid;
  background-color: #5d737e;
  color: #c0fdfb;
  text-align: center;
}

img {
  width: 300px;
  height: 300px;
  border: #0ebe75 1px solid;
  border-radius: 25px;
}

a {
  color: #daffef;
}

a:hover {
  color: mediumspringgreen;
}

a:visited {
  color: darkgreen;
}


.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: wrap;
  }

.react-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}

.react-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  overflow: auto;
  z-index: 1001;
}

.custom-time-picker .react-time-picker__inputGroup__input {
  width: 100px; /* Adjust this value to increase the width */
}

.custom-time-picker .react-time-picker__inputGroup__hour {
  width: 100px; /* Adjust for hour input */
}

.custom-time-picker .react-time-picker__inputGroup__minute {
  width: 100px; /* Adjust for minute input */
}
