* {
    color: #c0fdfb;
    text-align: center;
    background-color: rgb(55, 94, 113);
  }
  
  .loginButton {
    background-color: #64b6ac;
    font-size: 18px;
    border-radius: 12px;
    border-color: #64bbac;
    transition-duration: 0.4s;
  
    &:hover {
      background-color: #04aa6d;
      color: #fcfffd;
    }
  
    &:active {
      background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
  }
  
  .logoutButton {
    background-color: #b6646e;
    color: #fcfffd;
    font-size: 18px;
    border-radius: 12px;
    border-color: red;
    transition-duration: 0.4s;
  
    &:hover {
      background-color: red;
    }
  
    &:active {
      background-color: darkred;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
  }
  
  .apptButton {
    background-color: rgb(17, 28, 52);
    font-size: 18px;
    border-radius: 12px;
    border-color: rgb(38, 214, 229);
    transition-duration: 0.4s;
  
    &:hover {
      background-color: #c0fdfb;
      color: rgb(17, 28, 52);
      font-weight: 600;
    }
  
    &:active {
      background-color: rgb(79, 228, 201);
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
  }
  
  .a {
    color: #daffef;
    text-decoration: none;
  
    &:hover {
      color: mediumspringgreen !important;
    }
  }
  
  .react-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1000;
  }
  
  .react-modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    overflow: auto;
    z-index: 1001;
  }
  
  .custom-time-picker {
    .react-time-picker__inputGroup__input,
    .react-time-picker__inputGroup__hour,
    .react-time-picker__inputGroup__minute {
      width: 100px;
    }
  }