.custom-time-picker {
    width: 50vw;
    margin: auto;
    border-radius: 12px;
}

.react-time-picker__inputGroup__input {
    width: 10vw !important;
}

.react-time-picker__inputGroup__divider {
    width: 1vw !important;
}

a {
    color: #daffef !important;
    text-decoration: none !important;
    text-shadow: 2px 2px 2px black;
}
a:hover {
    color: #47FF97 !important;
    text-shadow: 2px 2px 2px black;
}