.body {
    text-align: center;
    background-color: rgb(55, 94, 113);
    background-image: url('../assets/bubblesFINAL.png');
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: left;
    background-size: auto;
    border-radius: 20px;
}

.groomiePic {
    width: 100px;
    height: 100px;
}

.groomie-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}