.custom-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
  color: #fff;
  width: 70%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 50% !important;
  background-color: transparent;
}

.custom-caption h1 {
  font-size: 3em;
  background-color: transparent;
  margin-bottom: 100px;
}

.custom-caption p {
  font-size: 1em;
  background-color: transparent;
  color: aqua;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carousel-inner img {
  max-height: 50vh; /* Adjust the maximum height as needed */
  width: auto; /* Maintain the aspect ratio */
  margin: 0 auto; /* Center the image */
}

.carousel-indicators,
.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: transparent;
}
