.custom-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  padding: 20px;
  text-align: center;
  color: #fff;
  width: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  float: inline-end;
  margin-left: 35vw;
  margin-right: 0;
}

.custom-caption h1 {
  font-size: 8em;
  background-color: transparent;
  margin-bottom: 100px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.custom-caption p {
  font-size: 2em;
  background-color: transparent;
  color: aqua;
}

img {
  max-height: 50vh;
}

.carousel-indicators,
.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: transparent;
}
