/* HomeBottom.css */

#home-bottom,
#home-bottom * {
  background-color: #c0fdfb;
  margin-top: 20px;
  color: black;
}

.home-content h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.home-content p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
}

.rounded-circle {
  width: 100%;
  max-width: 450px;
  height: auto;
  margin-top: 20px;
}

#register-link {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background-color: rgb(55, 94, 113);
  color: #c0fdfb;
  border-color: transparent;
  margin-top: 20px;
}

#register-link:hover {
  background-color: #fcfffd;
  color: rgb(55, 94, 113);
}
