.welcome {
    color: #fcfffd;
    font-weight: 600;
}

.logo {
    width: 100px;
    height: 100px;
    border: #0ebe75 1px solid;
    border-radius: 25px;
}

.titleName {
    font-size: 25px;
    border-radius: 12px;
    border-color: #64bbac;
}

.nav {
    display: flex;
    flex-direction: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 25px;
    font-size: 18px;
}

.navLinks {
    display: flex;
    flex: wrap;
    align-items: center;
    gap: 40px;
    padding: 2px;
    text-shadow: 1px 1px 2px black;

}
