#auth-sign-in {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
}

.supabase-auth-ui_ui-container {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    max-width: 90vw !important;
    margin: auto !important;
    padding: 20px !important;
}

.supabase-auth-ui_ui-button,
.supabase-auth-ui_ui-input,
.supabase-auth-ui_ui-link,
.c-bOcPnF,
.c-bOcPnF {
    margin: auto !important;
    width: 50vw !important;
    transition-duration: 0.4s !important;
    background-color: #64b6ac !important;
    font-size: 18px !important;
    border-radius: 12px !important;
    border-color: #64bbac !important;
    text-shadow: black 1px 0 3px;
}

.supabase-auth-ui_ui-button:hover {
    background-color: #04aa6d !important;
    color: #fcfffd !important;
    text-shadow: black 1px 0 3px;
}

.supabase-auth-ui_ui-button:active {
    background-color: #3e8e41 !important;
    box-shadow: 0 5px #666 !important;
    transform: translateY(4px) !important;
}

.supabase-auth-ui_ui-anchor {
    margin: auto !important;
    width: 50vw !important;
    transition-duration: 0.4s !important;
    background-color: #64b6ac !important;
    font-size: 18px !important;
    border-radius: 12px !important;
    border-color: #64bbac !important;
    color: #fcfffd;
    text-shadow: black 1px 1px 1px;
}

.supabase-auth-ui_ui-anchor:hover {
    background-color: #04aa6d !important;
    color: #fcfffd !important;
    text-shadow: 1px 1px 1px black;
}

.supabase-auth-ui_ui-anchor:active {
    background-color: #3e8e41 !important;
    box-shadow: 0 5px #666 !important;
    transform: translateY(4px) !important;
}