.body {
    text-align: center;
    background-color: rgb(55, 94, 113);
    background-image: url('../assets/bubblesFINAL.png');
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: left;
    background-size: auto;
    border-radius: 20px;
}

.reviews-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.reviews {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.submit-review {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
}