#services .service-cards-row {
  margin-bottom: 20px;
}

#services .service-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#services .service-card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

#services .service-icon {
  font-size: 4rem;
  align-self: center;
}

#services .service-card-body {
  flex: 1;
  text-align: center;
}

#services .service-card-title {
  margin-bottom: 10px;
  color: white;
}

.services-header {
  margin-top: 80px;
}

.services-blurb {
  margin-bottom: 50px;
}
.services-blurb,
.services-header {
  text-align: center;
}
