.body {
    color: #c0fdfb;
    text-align: center;
    background-color: rgb(55, 94, 113);
    background-image: url('../assets/bubblesFINAL.png');
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: left;
    background-size: auto;
    border-radius: 20px;
}

.profImg {
    width: 300px;
    height: 300px;
    border: #0ebe75 1px solid;
    border-radius: 25px;
}

.pets-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
}

.card {
    border: none !important;
}
